{% extends "base.html" %}
{% load static %}

{% block title %}OTA :: {% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}">
{% endblock extra_css %}

{% block content %}
  <!-- <h1 class="h3 mb-2 text-gray-800">OTA Table</h1> -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-2">
      <h6 class="mt-2 text-lg font-weight-bold text-primary float-left">OTA Table</h6>
      <button id="enquiry-btn"
              class="btn btn-sm btn-primary btn-icon-split float-right"
              data-toggle="modal"
              data-target="#enquiryModal">
        <span class="icon text-white-50">
          <i class="fa fa-plus"></i>
        </span>
        <span class="text">Add OTA</span>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Registration</th>
              <th>Contact Person</th>
              <th>Contact Number</th>
              <th>Contact Email</th>
              <th>Price Check</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Registration</th>
              <th>Contact Person</th>
              <th>Contact Number</th>
              <th>Contact Email</th>
              <th>Price Check</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="enquiryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a new OTA</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
          <form id="enquiryForm" class="user" action="{% url 'ota-list' %}" method="post">
          <div class="modal-body">
            {% csrf_token %}
              <div class="form-group mb-0 mt-n2">
                <label for="id_name" class="col-form-label text-dark font-weight-bold">Name:</label>
                {{ form.name }}
              </div>

             <div class="form-group mb-0">
                <label for="id_contact_person" class="col-form-label text-dark font-weight-bold">Contact Person:</label>
                {{ form.contact_person }}
              </div>

              <div class="form-group mb-0">
                <label for="id_contact_number" class="col-form-label text-dark font-weight-bold">Contact Number:</label>
                {{ form.contact_number }}
              </div>

               <div class="form-group mb-0">
                  <label for="id_contact_email" class="col-form-label text-dark font-weight-bold">Contact Email:</label>
                  {{ form.contact_email }}
                </div>
            <div class="modal-footer border-0">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <button id="enquiry-save" class="btn btn-success" type="submit">
                Save
              </button>
            </div>
          </div>
          </form>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extra_script %}

  <!-- Scripts for table -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Script to fetch the data from the api -->
  <script>
    $(document).ready(function() {
      const tableID = "#dataTable";
      const apiPathname = "{% url 'ota-list' %}";
      const columns = [
                    {"data": "id"},
                    {"data": "name"},
                    {"data": "registration"},
                    {"data": "contact_person"},
                    {"data": "contact_number"},
                    {"data": "contact_email"},
                    {"data": "price_check"},
                ];
      const modalID = "#enquiryModal";
      const formID = "#enquiryForm";

      let customColumns = [
        {
          "targets": 6,
          "data": null,
          "render": function(data, type, row) {
              return `
              <button class="btn btn-sm btn-info">Check Price</button>
              `
          },
          "search": false,
        },

        {
          "targets": 2,
          "render": function(data, type, row) {
              return formatDate(data);
          },
        }
      ];

        fetchTableDataFromAPI(tableID, apiPathname, columns, customColumns);

        handleEnquiryFormSubmit(formID, tableID, apiPathname, modalID);
    });
  </script>

{% endblock extra_script %}

