<table class="table table-bordered table-hover"
       {% if tableID %}id="{{ tableID }}"{% else %}id="dataTable"{% endif %}
       width="100%"
       cellspacing="0">
  <thead>
    <tr>
      <th></th>
      <th>Headline</th>
      <th>Source</th>
      <th>Created</th>
      <th>Rating</th>
      <th>Action</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th>Headline</th>
      <th>Source</th>
      <th>Created</th>
      <th>Rating</th>
      <th>Action</th>
    </tr>
  </tfoot>
  <tbody>

  </tbody>
</table>