{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{ title }} :: {% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card shadow text-center" style="margin:5%;">
				<div class="card-header py-2 text-center">
					<span class="text-dark text-lg font-weight-bold"> Upload document </span>
				</div>
				<div class="card-body">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{documentForm|crispy}}
						<button type="submit" class="btn btn-primary"
							style="width:100%;  margin-top: 10%;">Upload</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}