{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard :: {% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="row">
  <h2> Digital Asset Manager </h2>
</div>
<div class="row">
  <div class="col-md-4 card shadow" style="padding:5px;">
    <div class="card-header py-2 text-center">
      <span class="text-dark text-lg font-weight-bold"> Photos </span>
    </div>
  </div>
  <div class="col-md-4 card shadow" style="padding:5px;">
    <div class="card-header py-2 text-center">
      <span class="text-dark text-lg font-weight-bold">  Document</span>
    </div>
  </div>
  <div class="col-md-4 card shadow" style="padding:5px;">
    <div class="card-header py-2 text-center">
      <span class="text-dark text-lg font-weight-bold"> video </span>
    </div>
  </div>
</div>

{% endblock content %}
